.root
  max-width: 600px
  margin: 0 auto
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif

  > section
    margin-top: 30px
    padding: 30px
    border: 1px solid #e3e8f3

    > h2
      margin-top: 0
